<h1>File Upload<h1>
<%= form_for(:upload, :url => {:action => 'uploadFile'}, :html => {:multipart => true}) do |f| %>
<p><label for="upload_file">Select File</label>
<%= file_field 'upload', 'datafile' %></p>
<%= f.submit"Upload"%>
<% end %>
